body {
    width: 100%;
    min-height: 100vh;
    background: #333533;
    padding: 10px;
  }

#icon {
  height: 50px;
  width: 50px;
}

.BlogCard {
  max-width: 750px;
  background: #ffee32;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  border-width: 7px;
  border-color: #ffd100;
  border-style: solid;
}